aniso8601==9.0.1
attrs==20.3.0
autopep8==1.5.6
certifi==2020.12.5
click==7.1.2
cycler==0.10.0
dnspython==2.1.0
Flask==1.1.2
Flask-Env==2.0.0
flask-mongoengine==1.0.0
Flask-RESTful==0.3.8
Flask-WTF==0.14.3
gunicorn==20.1.0
idna==3.1
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
mailer==0.8.1
MarkupSafe==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pymongo==3.11.3
pyparsing==2.4.7
pytest==6.2.3
python-dotenv==0.17.0
pytz==2021.1
pyzmq==20.0.0
toml==0.10.2
Werkzeug==1.0.1
